{% extends 'base.html.twig' %}

{% block title %}Mon panier
{% endblock %}

{% block body %}
    <div class="alert alert-light">
        <h2 class="alert-title">Mon panier</h2>
    </div>

    <p class="text-right"><a href="{{ path('cart_empty') }}" class="btn btn-info">Vider le panier</a></p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Produit</th>
                <th class="text-center">Prix</th>
                <th class="text-center">Quantité</th>
                <th class="text-center">Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.product.title }}</td>
                    <td class="text-center">{{ item.product.price | price }}</td>
                    <td class="text-center">{{ item.quantity }}</td>
                    <td class="text-center">{{ item.total | price }}</td>
                    <td>
                    <a href="{{ path('cart_remove', {'id': item.product.id }) }}" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i>
                    </a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total :</td>
                <td class="text-center">{{ total | price }}</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3">Livraison :</td>
                <td class="text-center">{{ shipping | price }}</td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3">Total de la commande :</td>
                <td class="text-center">{{ grandTotal | price }}</td>
                <td></td>
            </tr>
        </tfoot>
    </table>

<a href="{{ path('command_index') }}" class="btn btn-success">Continuer ma commande</a>

{% endblock %}

