{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur notre boutique
{% endblock %}

{% block body %}
{% for category in categories if category.parent is not null %}

<h2 class="alert alert-light">{{ category.parent.title }}
    -->>
    {{category.title}}</h2>

        <div class="row">
            {% for product in category.products if product.featured %}
                <div class="col-4">
                    <div class="alert alert-light">
                        <img src="{{product.picture}}" alt="Image de {{product.title}}" class="img-fluid">

                        <h4 class="alert-title">{{product.title}}</h4>
                        {{ product.introduction }}
                        <br/>
                        <p style="margin-top:30px;font-weight:bold;">Prix : {{ product.price }} € </p>

                        <hr>
                        <a href="{{ path('product_show', {'id': product.id }) }}" class="btn btn-primary text-white">
                            <i class="fas fa-search mr-1"></i>
                            Détails
                        </a>
                        <a href="{{ path('cart_add', {'id': product.id} )}}" class="btn btn-success text-white">
                            <i class="fas fa-shopping-cart mr-1"></i>
                            Ajouter
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

