<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Commerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
        </ul>

        <ul class="navbar-nav">

        {% if not is_granted('ROLE_USER') %}

            <li class="nav-item">
                <a href="{{ path('register')}}" class="nav-link">Inscription</a>
            </li>

            <li class="nav-item">
                <a href="{{ path('login')}}" class="nav-link">Connexion</a>

            </li>
        {% else %}
    

            <li class="nav-item">
                <a href="{{ path('logout')}}" class="nav-link">Déonnexion</a>

            </li>
        {% endif %}

        </ul>

        <a href="{{ path('cart_index')}}" class="btn btn-success mr-1">
            Panier
                {{ render(controller(
                    'App\\Controller\\CartController::counter'
                )) }}

        </a>




        <form class="form-inline my-2 my-lg-0" action="{{ path('product_search') }}">
            <input class="form-control mr-sm-2" name="search" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

